
  
  .main{
    display: flex;
    flex-direction: row-reverse;
    width: 100vw;
    margin-top: 30px;

    .login-form{
      width: 50vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

        .user-field {
        margin: 13px;
        width: 20vw;
        border-radius: 8px;
        padding: 10px;
        font-size: 1rem;
        }

        p {
            color: red;
        }

    }
      img{
        width: 50vw;
      }
    }

  .option{
    width: 22vw;
    height: 4vh;
    font-size: .5rem;
    border-radius: 8px;
    }
  
  .sign-In {
    margin: 13px;
      width: 22vw;
      border-radius: 8px;
      font-size: 1rem;

      button {
        background-color: black;
        color: #ffc107;
        &:hover {
            background-color: #ffc107;
            color: black;
        }
        }
  }

  .signup-link {
    width: 22vw;
    text-align: center;
    margin-top: 15px;

    a {
        text-decoration: none;
        color: black;

        &:hover {
            color: #ffc107;
        }
    }
    
    
  }

  @media (max-width: 800px) {
    .main{
      width: 100vw;
      height: 85vh;
      display:flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;

      .login-form{
        width: 50vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
  
          .user-field {
          margin: 13px;
          width: 30vw;
          border-radius: 10px;
          padding: 10px;
          font-size: 1rem;
          }
  
          p {
              color: red;
          }
  
      }
      .option{
        width: 32vw;
        height: 3vh;
        border-radius: 8px;
        }
      
      .sign-In {
        margin: 13px;
          width: 22vw;
          border-radius: 8px;
          font-size: 1rem;
    
          button {
            background-color: black;
            color: #ffc107;
            &:hover {
                background-color: #ffc107;
                color: black;
            }
            }
      }
    }
    img {
      margin-top: 2%;
      width: 50vw;
      height: 30vh;
    }
  }

  //phone breakpoint ---------------------------------START--------------------------->>>>>>>
  @media (max-width: 500px) {
    .main{
      width: 100vw;
      height: 100vh;
      display:flex;
      justify-content: center;
      align-items: center;

      .login-form{
        width: 80vw;
        margin-top: 15%;
          .user-field {
          width: 60vw;
          border-radius: 10px;
          padding: 10px;
          font-size: 2rem;
          }
  
          p {
              color: red;
          }
      }
      .option{
        width: 64vw;
        height: 4vh;
        font-size: 1rem;
        border-radius: 8px;
        }
      
      .sign-In {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a{
          font-size: 1.3rem;
          text-align: center;
          width: 100vw;
          height: 100vh;
        }
    
          button {
            height: 5vh;
            width: 64vw;
            font-size: 1.5rem;
            background-color: black;
            color: #ffc107;
            &:hover {
                background-color: #ffc107;
                color: black;
            }
          }
      }
      img{
        margin-top: 4%;
        width: 84vw;
        height: 30vh;
      }

      .signup-link {
        width: 100vw;
        text-align: center;    
        a {
            text-decoration: none;
            color: black;
    
            &:hover {
                color: #ffc107;
            }
        }
        
        
      }
    }
    p{
      text-align: center;
      font-size: .5rem;
    }
    h1{
      font-size: 2rem;
    }
    h2{
      font-size: 2rem;
    }
}

