.search-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-form{
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 1rem;
    cursor: pointer;

    .dropdown{
        width: 24vw;
        font-size: 1rem;
     
    }

    .search-field {
        width: 24vw;
        font-size: 1rem;
        cursor: pointer;
        border-radius: 5px;
        margin-left: 5px;
     
    }
    
    .search-btn{
        width: 10vw;
        font-size: 1rem;
        height: 25px;
        border-radius: 10px;
        text-align: center;
        margin-left: 5px;
        cursor: pointer;

        &:hover {
            background-color: #ffc107;
        }
    }
    
}


.search-results{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw; 
    min-height: 90vh;
}





