.truck {
    display:flex;
    width: 90vw;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5%;

    .truck-image {
        width: 25%;
    }

    .truck-info {
        width: 60%;
    }

    .truck-button {
        width: 15%;
    }
}