.truck {
    display: flex;
    width: 80vw;
    margin-top:30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    

    .truck-card{
        display: flex;
        width: 100vw;
    }

    .truck-image {
        width: 25vw;
    }

    .truck-info {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    line-height: 0px;
    }


    .truck-button{
        width: 25vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
     button {
        display: flex;
    justify-content: center;
    width: 15vw;
    height: 4vh;
    border-radius: 25px;
    font-size: 1rem;
  
     }

     .rating{
        width: 10vw;
        display: flex;
        justify-content: center;
        margin-left: 26px;
     }
    }
}

.create-truck {
    margin-top: 20px;
    height: 4vh;
    border-radius: 25px;
    font-size: 1rem;
  
}