.App {
  display:flex;
  flex-direction: column;
  justify-content: center; 
  width: 80vw;
  min-height: 80vh;
  text-align: center;
  margin-top: 10%;
}


.main{
  display:flex;
  justify-content: center; 
  width: 90vw;
  min-height: 80vh;
}

.user-field {
    display: flex;
    width: 150%;
    margin: 20px;
    height: 2vh;
    border-radius: 8px;
    padding: 10px;
    font-size: 1rem;
}

.dropdown{
  width: 158%;
    margin-left: 20px;
    height: 35px;
    margin-bottom: 9%;
    font-size: 1rem;
  }

  .sign-in{
    margin-left: 20%;
  }



